DJANGO_SECRET_KEY=change-me-to-a-long-random-string
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=

DB_ENGINE=django.db.backends.mysql
DB_NAME=debt_trap
DB_USER=root
DB_PASSWORD=P@ssw0rd
DB_HOST=db
DB_PORT=3306
